---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import Header from "../../components/Home/Header.astro";
import HeroSection from "../../components/About/HeroSection.astro";
import FounderMessage from "../../components/About/FounderMessage.astro";
import CollegeFitFinder from "../../components/About/CollegeFitFinder.astro";
import FreeRecruitingGuide from "../../components/Home/FreeRecruitingGuide"
---
<Layout>

    <div id="container">
        <div class="w-full h-[848px] overflow-hidden relative max-lg:h-[90vh]"> 
            <div class="h-full w-full relative after:content-[url('/assets/scratchy-overlay.jpeg')] after:absolute after:top-0 after:w-full after:h-full after:opacity-10">     
                <Image
                  src={'https://res.cloudinary.com/dt3zbndrl/image/upload/v1740753129/about-hero-player_p3i8rv.png'}
                  format="png"
                  width={100}
                  height={100}
                  alt={""}                   
                  class="w-full h-full max-lg:object-cover"
                />
                </div>
          <div
            class="absolute top-0 left-0 w-full h-full bg-linear-to-b about-hero-gradient"
            
          >
            <Header />
            <HeroSection />
          </div>
        </div>
       
        <div class="bg-black">
          <div class="bg-[url('/assets/bg-main.png')] bg-center bg-cover">
            <div class="bg-[#000000f3]">
              <FounderMessage />
              <CollegeFitFinder />
              <FreeRecruitingGuide client:load />
            </div>
          </div>
        </div>
      </div>
      
</Layout>