---
import QuestionnaireForm from "./QuestionnaireForm.jsx"
---

<div class="w-full flex justify-center gap-12 items-center max-lg:flex-col  pt-32 max-lg:pt-16" >
    <div class="w-[40%]  max-lg:w-[90%] h-[800px] flex flex-col justify-baseline max-lg:h-auto">
        <p class="w-full pl-[100px] font-bold text-6xl leading-[73.6px] bg-gradient-to-r from-[#C8C8C8] to-white text-transparent bg-clip-text   max-lg:pl-0 max-lg:text-[40px] max-lg:leading-[48px] " >Your Path to Success Begins Here!
            <span class="text-[20px] font-normal text-[#FFFFFF] block leading-[27px] max-lg:text-[14px] max-lg:leading-[18px]">Help us understand your game and academic goals so we can guide you to the best college fit.</span>
        </p>
    </div>
     <div class="w-[60%] flex justify-end mr-20 items center max-lg:w-full  max-lg:justify-center max-lg:items-center max-lg:mr-0" >
       <QuestionnaireForm client:load />
        </div> 
</div>
