---
import { Image } from "astro:assets";
import arrowUp from "../../../public/assets/arrow-up-right.svg";
---

<div
  class="container mx-auto gap-3 lg:gap-16 text-[#FFFFFF] flex w-full flex-col justify-center items-start h-full px-10 max-lg:px-[4vw] max-lg:py-3 max-lg:mx-0 max-lg:mt-[5vh]"
>

  <div class="">
    <p
      class="font-bold text-4xl text-[64px] uppercase mb-4 bg-gradient-to-r from-[#C8C8C8] to-white bg-clip-text text-transparent max-lg:m-0 max-lg:text-[40px]"
    >
      Hi, I’m <br /> Myles Warren
    </p>
    <div class="flex flex-col justify-center items-start gap-6 ">
      <p
        class="font-normal text-[20px]  tracking-normal w-[40%] max-lg:w-full max-lg:text-[14px] max-lg:!leading-5"
      >
        I’m Myles Warren - founder of HoopsToCollege.
      </p>
      <p
        class="font-normal text-[20px]  tracking-normal w-[40%]  max-lg:w-full max-lg:text-[14px] max-lg:!leading-5"
      >
      After bouncing between D1, Juco, and NAIA, I created this guide to
      help you avoid the same pitfalls.
      
      </p>
      <p
        class="font-normal text-[20px]  tracking-normal w-[40%] max-lg:w-full max-lg:text-[14px] max-lg:!leading-5"
      >
      If you’re feeling overwhelmed by NIL chatter, the transfer portal, and
      Instagram highlight reels—take a breath. There’s still a place for
      overlooked high school players. Let me show you how.
      </p>
    </div>
  </div>

  <div
    class="text-white text-xl font-normal flex flex-col gap-3 max-lg:w-full max-lg:text-[14px] max-lg:font-semibold"
  >
  <span class="border-grad rounded-[8px]  ">

    <button onclick="window.location.href='/#recruiting-plans'"
      class="animate-pulse w-[383px] h-[56px] rounded-[8px]  p-[8px] bg-gradient-to-r from-[#E65E10] to-[#FF9355] flex items-center justify-center gap-2 cursor-pointer max-lg:!w-[90.5vw]"
    >
      <span class="pt-[7px]">Find My Best College Fit – Let’s Talk </span>
      <Image
        src={arrowUp}
        format="svg"
        alt={""}        
        class="w-5 h-5"
      />
    </button>
  </span>
   
  </div>
</div>
