---
import Layout from '../layouts/Layout.astro';
import HeroSection from "../components/Home/HeroSection.astro";
import Header from "../components/Home/Header.astro";
import CollegeFitGuidance from "../components/Home/CollegeFitGuidance.astro";
import RecruitingPlans from "../components/Home/RecruitingPlans.jsx";
import FreeRecruitingGuide from "../components/Home/FreeRecruitingGuide.jsx";
import SuccessStories from "../components/Home/SuccessStories.astro";
import Testimonials from "../components/Home/Testimonials.jsx";

---

<Layout>
<div id="container bg-black">
	<div class="w-full h-[848px] overflow-hidden relative  ">
	  <div class="h-full w-full relative after:content-[url('/assets/scratchy-overlay.jpeg')] after:absolute after:top-0 after:w-full after:h-full after:opacity-10 pt-20">
	     <div class="w-full h-full bg-[url('https://res.cloudinary.com/dt3zbndrl/image/upload/v1740753129/bgImg_s6fgiu.png')] bg-cover bg-no-repeat hero-banner">
	
	</div>
	  </div>
	  <div
		class="absolute top-0 left-0 w-full h-full hero-gradient "
	  >
		<Header />
		<HeroSection />
	  </div>
	</div>
	<CollegeFitGuidance />
	<RecruitingPlans client:load />
	<div class="bg-black">
	  <div class="bg-[url('/assets/bg-main.png')] bg-center bg-cover">
		<div class="bg-[#000000f3]">
		  <SuccessStories />
		  <Testimonials client:load />
		  <FreeRecruitingGuide client:load />
		</div>
	  </div>
	</div>
  </div>
  
</Layout>

<style>
	@media only screen and (max-width: 800px) {
	.hero-banner{
      background-position-x: -650px ;
    }
}
	
</style>
