---
import { Image } from "astro:assets";
import player from "../../assets/player.svg";
---

<div class="w-full overflow-hidden flex justify-center items-center bg-black">
  <div
    class="w-[95%] border-solid border-gradient-to-r from-[#576265] via-[#9EA1A1] to-[#576265] gap-[24px] pt-[1.25%] pr-[1.5625%] pb-[1.25%] pl-[1.5625%] rounded-2xl border-[1px] flex justify-between items-center max-lg:flex-col"
    style="background: linear-gradient(98.18deg, #963400 1.03%, #000000 100.39%);"
  >
    <div class="w-[50%] flex flex-col gap-6 max-lg:w-[90%]">
      <p
        class="font-bold text-[48px] leading-[60px] tracking-[0%] uppercase text-white"
      >
        FREE Recruiting Guide – Learn How to Get Noticed by College Coaches
      </p>
      <span
        class="font-normal text-[20px] leading-[27px] tracking-[0%] text-white"
      >
        Enter your email below to get instant access to our step-by-step
        recruiting roadmap and start your journey toward college basketball
        today!
      </span>
      <div class="flex w-full gap-2 max-md:flex-col">
        <input
          type="email"
          placeholder="Enter your email"
          class="w-[70%] h-[56px] rounded-[8px] border-[1px] p-[8px] text-[20px] leading-[27px] tracking-[0%] bg-white max-md:w-full"
        />
        <button
          class="w-[30%] h-[56px] rounded-[8px] border-[1px] p-[8px] bg-black text-[20px] leading-[27px] tracking-[0%] text-white max-md:w-full"
        >
          Get Started
        </button>
      </div>
    </div>
    <div class="w-[50%] flex">
      <Image
        src={player}
        format="svg"
        alt={"logo"}
        loading="lazy"
        class="w-[100%] h-[100%] transform scale-120"
      />
    </div>
  </div>
</div>
