---
import { Image } from "astro:assets";
import headerLogo from "../../assets/header-logo.svg";
---

<header
  class="flex items-center justify-between px-[24px] py-[12px] w-full text-[#FFFFFF] h-[80px]"
>
  <div class="flex items-center gap-6">
    <span class="font-semibold text-[16px] leading-[21.6px]">About Myles</span>
    <span class="font-semibold text-[16px] leading-[21.6px]">Questionnaire</span>
  </div>
    <span class="block w-[178px] h-[64px] p-2">
      <Image src={headerLogo} format="svg" alt={"logo"} loading="lazy"  />
    </span>
  <div class="flex items-center gap-6">
    <span class="font-semibold text-[16px] leading-[21.6px]">Contact</span>
    <button class="font-semibold text-[16px] leading-[21.6px] bg-black  w-[129px] h-[44px] rounded-[8px] border-[1px] p-[8px]" >Get Started</button>
  </div>
</header>

     
 

