---
import { Image } from "astro:assets";
import arrowUp from "../../../public/assets/arrow-up-right.svg";
---

<div
  class="container  lg:gap-6 border-b-0  text-[#FFFFFF] flex w-full flex-col justify-center items-start h-full px-16 max-lg:px-4 max-lg:py-3  "
>
  <div  >
    <p
      class="font-bold  text-[64px] uppercase mb-4 bg-gradient-to-r from-[#C8C8C8] leading-normal to-white bg-clip-text text-transparent max-lg:text-[40px] max-lg:m-0 max-lg:pt-50"
    >
      Get Recruited.<br class="max-lg:hidden"/> Secure Your Future.<br  class="max-lg:hidden"/> Play at the Next Level.
  </p>
    <span class="font-normal text-[20px] leading-[27px] text-[#FFFFFF] tracking-normal max-lg:text-[14px]"
      >Trusted by athletes who refuse to go unnoticed.</span
    >
  </div>

  <div class=" text-[#FFFFFF] text-xl font-normal  flex flex-col gap-3 max-lg:text-[14px]">
    <p>
        Scholarship opportunities are filling fast – take action today!
    </p>
    <span class="border-grad rounded-[8px]">
      <button onclick="document.getElementById('recruiting-plans').scrollIntoView({ behavior: 'smooth' });"
        class=" w-[383px] h-[56px] rounded-[8px] p-[8px] max-md:w-[90vw] bg-gradient-to-r from-[#E65E10] to-[#FF9355] flex items-center  justify-center gap-2 max-lg:text-[14px] max-md:h-[46px] "
      >
        <span class="pt-[7px]">
          Find My Best College Fit – Let’s Talk
        </span>
        <Image
        src={arrowUp}
        format="svg"
        alt={""}       
        class="w-5 h-5"       
      />
      </button>
    </span>
          <p>🔥 Trusted by athletes who refuse to go unnoticed.</p>
          <p> 90% of players get a coach response in under 6 weeks. </p>
  </div>
</div>
