---
import Calendar from "./Calender";
---
<div class="w-full  flex justify-center items-center max-lg:pb-16  max-lg:pt-16">
  <div class="w-full max-lg:w-[95%] flex justify-center items-center rounded-[8px] max-lg:pb-[58px]">
    <Calendar client:load/>
  </div>
  </div>